:root {
  --font-name-family: 'Dancing Script', cursive;
  --font-medium-xx-size: 1.25rem;
  --font-medium-x-size: 1.125rem;
  --font-medium-size: 1rem;
  --black: #0e0f13;
  --skills-gradient: #00000099;
  --input-form-color: #212529;
  --secondary: #343a40;
  --scrollbar-color: #424242;
  --main-shadow: #6c757d;
  --overview-layer: #7e7c7c81;
  --white: #f3f4f6;
  --placeholder-color: #8e98a1;
<<<<<<< HEAD
  --primary: #343a40;
=======
  --primary: #e1e1e1;
>>>>>>> main
  --focus-color: #ced4da;
  --hover-color: #d1d1d1;
  --svg-color: #cfcfcfcc;
  --active-color: #bcbebf;
  --active-color-nav: #3b82f6;
  --active-color-hover-nav: #5ba8e8;
}

.dark-mode {
  --white: #0e0f13;
<<<<<<< HEAD
  --primary: #e1e1e1;
=======
  --primary: #343a40;
>>>>>>> main
  --placeholder-color: #495057;
  --focus-color: #424242;
  --hover-color: #495057;
  --black: #f3f4f6;
  --secondary: #d7d4d4;
  --input-form-color: #e1e1e1;
  --skills-gradient: #cfcfcf99;
  --scrollbar-color: #c2c9cf;
  --svg-color: #8e98a1;
  --active-color: #2c3237;
  --active-color-nav: #197de1;
  --active-color-hover-nav: #2b8ae8
}

.project {
<<<<<<< HEAD
  background-color: var(--white);
=======
  background-color: var(--black);
>>>>>>> main
}

.project-section {
  margin-top: 3rem !important;
}

.project-section .project-title {
<<<<<<< HEAD
  color: var(--black);
=======
  color: var(--white);
>>>>>>> main
  font-size: 60px;
  text-align: center;
  font-weight: 900;
  letter-spacing: 2px;
  border-bottom: 1px solid var(--secondary);
}

.project-section .project-info {
  border-bottom: 1px solid var(--secondary);
  font-size: 14px;
}

.project-section .project-info .project-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-section .project-info .project-links .link {
  border: 1px solid var(--secondary);
  transition: all .2s;
<<<<<<< HEAD
  color: var(--black) !important;
=======
  color: var(--primary) !important;
>>>>>>> main
  border-radius: 50rem !important;
  padding: .25rem 1rem !important;
  margin-right: .5rem !important;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-section .project-info .project-links .link:hover {
  background-color: var(--secondary)
}

.project-section .project-info .project-links .link .p-links-icon {
  margin-right: .5rem;
  width: 1.09375rem;
  height: .875rem;
}

.project-section .project-info .project-technologies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-section .project-info .project-technologies .technology {
  text-decoration: none;
}

.project-section .project-info .project-technologies .technology-info {
  border: 1px solid var(--secondary);
  transition: all .2s;
  border-radius: 50rem !important;
  padding: .25rem 1rem;
  margin: 0 .5rem .5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-section .project-info .project-technologies .technology-info:hover {
  background-color: var(--secondary);
}

.project-section .project-info .project-technologies .technology-info img {
  width: 100%;
  height: 15px;
}

.project-section .project-info .project-technologies .technology-info .technology-name {
<<<<<<< HEAD
  color: var(--black);
=======
  color: var(--primary);
>>>>>>> main
  margin-left: .5rem;
}

.project-section .project-desc {
  margin: 1.5rem 0;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--secondary);
}

.project-section .project-desc p {
<<<<<<< HEAD
  color: var(--black) !important;
=======
  color: var(--primary) !important;
>>>>>>> main
}

.project-section .row .project-image {
  border-radius: 50rem !important;
}

.project-section .row .project-image .overview {
  position: relative;
}

.project-section .row .project-image .overview img {
  width: 100% !important;
  vertical-align: middle;
  border-radius: .375rem;
  cursor: pointer;
}
.project-section .row .project-image .overview .overview-layer {
  background-color: var(--overview-layer);
  position: absolute;
  inset: 0% 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  cursor: zoom-in;
  transition: opacity .5s;
  border-radius: .375rem;
}
.project-section .row .project-image .overview:hover .overview-layer {
  opacity: 1;
}
