:root {
    --font-name-family : 'Dancing Script',cursive ;
    --font-medium-xx-size : 1.25rem;
    --font-medium-x-size : 1.125rem;
    --font-medium-size : 1rem;
    --black: #0e0f13;
    --skills-gradient: #00000099;
    --input-form-color: #212529;
    --secondary: #343a40;
    --scrollbar-color: #424242;
    --main-shadow: #6c757d;
    --overview-layer: #7e7c7c81;
    --white: #f3f4f6;
    --placeholder-color: #8e98a1;
    --primary: #e1e1e1;
    --focus-color: #ced4da;
    --hover-color: #d1d1d1;
    --svg-color: #cfcfcfcc;
    --active-color: #bcbebf;
    --active-color-nav: #3b82f6;
    --active-color-hover-nav: #5ba8e8;
  }
  .dark-mode {
    --white: #0e0f13;
    --primary: #343a40;
    --placeholder-color: #495057;
    --focus-color: #424242;
    --hover-color: #495057;
    --black: #f3f4f6;
    --secondary: #d7d4d4;
    --input-form-color: #e1e1e1;
    --skills-gradient: #cfcfcf99;
    --scrollbar-color: #c2c9cf;
    --svg-color: #8e98a1;
    --active-color: #2c3237;
    --active-color-nav: #197de1;
    --active-color-hover-nav: #2b8ae8
  }

  .projectcard .card  {
    border-radius: 4% ;
    transition: all .3s;
  }

  .projectcard .card:hover{
    scale: 1.03;
    box-shadow: 0 0 10px var( --skills-gradient);
  }

  .projectcard .card .card-body .card-date{
    padding: 2px;
    color: var(--secondary);
    font-size: 0.8rem;
    text-align: center;
    border: 1px solid var(--placeholder-color);
    border-radius: 8%;
    transition: all .3s;
  }

  .projectcard .card .row-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2px;
    border-bottom: 1px solid ;
    border-color: var(--svg-color);
  }

  .projectcard .card .row-title .link{
    filter: grayscale(100%);
    width: 30px;
    height: 30px;
    padding: 3px 5px 5px;
    margin: 4px;
    border: 1px solid var(--svg-color);
    border-radius: 8%;
  }
  
  .projectcard .card .card-info{
    padding-bottom: 2px;
    border-bottom: 1px solid ;
    border-color: var(--svg-color);
  }

  .projectcard .card .card-footer{
    display: flex;
  }

  .projectcard .card .card-footer .skill{
    filter: grayscale(100%);
    width: 30px;
    padding: 3px 5px 5px;
    margin: 4px;
    border: 1px solid var(--svg-color);
    border-radius: 8%;
  }
  
  .projectcard .card .card-footer img{
    width: 20px;
    height: 20px;
    object-fit: cover;
  }

  .projectcard .card .card-footer .hide {
    display: none;
  }

  .projectcard a:hover {
    border: 2px solid var(--secondary);
    scale: 1.3;
  }

  .projectcard .card .card-footer .skill:hover  .hide{ 
    filter: none;
    display: block;
  }

  .projectcard span{
    width: 200px;
    height: 100px;
    background-color: rgb(117, 37, 37);
  }

 





