:root {
  --font-name-family: "Dancing Script", cursive;
  --font-title-section-size: 2.8125rem;
  --font-medium-xx-size: 1.25rem;
  --font-medium-x-size: 1.125rem;
  --font-medium-size: 1rem;
  --black: #0e0f13;
  --skills-gradient: #00000099;
  --input-form-color: #212529;
  --secondary: #343a40;
  --scrollbar-color: #424242;
  --main-shadow: #6c757d;
  --overview-layer: #7e7c7c81;
  --white: #f3f4f6;
  --placeholder-color: #8e98a1;
  --primary: #e1e1e1;
  --focus-color: #ced4da;
  --hover-color: #d1d1d1;
  --svg-color: #cfcfcfcc;
  --active-color: #bcbebf;
  --active-color-nav: #3b82f6;
  --active-color-hover-nav: #5ba8e8;
}

.dark-mode {
  --white: #0e0f13;
  --primary: #343a40;
  --placeholder-color: #727c86;
  --focus-color: #424242;
  --hover-color: #495057;
  --black: #f3f4f6;
  --secondary: #d7d4d4;
  --input-form-color: #e1e1e1;
  --skills-gradient: #cfcfcf99;
  --scrollbar-color: #c2c9cf;
  --svg-color: #8e98a1;
  --active-color: #2c3237;
  --active-color-nav: #197de1;
  --active-color-hover-nav: #2b8ae8;
}

.home-page {
  background-color: var(--white);
  color: var(--black);
}

.home-page .section-title {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

/* ==============================================
=================== Hero Section ================
================================================= */
#hero-section {
  padding-top: 150px;
}

#hero-section .my-name h1 {
  font-family: var(--font-name-family);
  font-size: 70px !important;
  color: var(--black);
}

#hero-section h2 {
  font-weight: 300 !important;
  font-size: 1.5rem;
  color: var(--placeholder-color);
}

#hero-section .my-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.download-bottom {
  margin: 15px 0;
}

#hero-section .my-links svg {
  width: 35px;
  height: 35px;
  color: var(--placeholder-color);
}

.home-page .section-title h1 {
  font-size: var(--font-title-section-size) !important;
  font-weight: 900;
  letter-spacing: 2px;
}

a.download-bottom {
  background-color: transparent;
  border: 1px solid var(--black);
  color: var(--black);
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
  margin-top: 1rem;
}

a.download-bottom:hover {
  background-color: var(--black);
  color: var(--white);
}



/* ==============================================
================== About Section ================
================================================= */


#about-section {
  padding-top: 50px;
  margin-bottom: 100px;
}

#about-section .about-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 25px;
  flex-direction: column;
}

#about-section .quiz-title h2 {
  border-bottom: 3px solid var(--placeholder-color);
  width: fit-content;
  font-size: 2.5rem !important;
}

#about-section .about-text p {
  line-height: 1.8;
  color: var(--secondary);
  font-size: var(--font-medium-x-size);
}

#about-section .hire-me button {
  color: var(--white) !important;
  font-weight: 500;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--black) !important;
  border: 1px solid var(--secondary);
  transition: all .2s;
}

#about-section .whyme-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-section .whyme-title h3 {
  border-bottom: 3px solid var(--placeholder-color);
  font-size: 2.2rem !important;
  text-align: center;
  padding-bottom: 5px;
}

#about-section .whyme-cards-container .col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ==============================================
================Education Section================
================================================= */

#education-training-section .certificate-image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 5%;
}

#education-training-section .education-elements-container .title-with-line,
#education-training-section .training-container .title-with-line,
#skills-section .title-with-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-shadow);
}

#education-training-section .education-elements-container .title-with-line h2,
#education-training-section .training-container .title-with-line h2,
#skills-section .title-with-line h2 {
  padding: 5px 15px;
}


.home-page .before-line {
  background-color: var(--main-shadow);
  width: 10%;
  height: 1px;
}

.home-page .after-line {
  background-color: var(--main-shadow);
  flex: 1 0 10%;
  height: 1px;
}

#education-training-section .education-body {
  margin-top: 25px;
}

#education-training-section .certificate-description p {
  font-family: "motserat";
  margin-bottom: 30px;
}

#education-training-section .certificate-title {
  font-weight: 500;
  margin-bottom: 15px;
}

#education-training-section .tarinig-company h4,
#education-training-section .trainig-description p {
  font-family: "motserat";
}

#education-training-section .certificate-links a {
  text-decoration: none;
  color: var(--active-color-nav);
}

#education-training-section .trainig-element {
  border: 1px solid var(--overview-layer);
  border-right: 0;
  border-radius: 30px;
  padding: 25px;
  margin-bottom: 30px;
}

#education-training-section .trainig-element:hover {
  background-image: linear-gradient(to right, var(--active-color), transparent);
  background-size: 200% 200%;
  animation: gradient 5s linear;
}

@keyframes gradient {
  0% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 0% 0%;
  }

}

#education-training-section .company-logo {
  display: flex;
  justify-content: flex-end;
}

#education-training-section .company-logo img {
  border-radius: 10px;
  width: 90%;
  height: 100%;
  object-fit: fill;
}

/* ==============================================
=================== Skills Section ================
================================================= */

#skills-section {
  padding-top: 30px;
}

/* thir is mmore classes style for skills section but it is Sheard with Education section */


#projects-section{
  padding-top: 20px;
}
#projects-section .row {
  padding: 50px 0;
  overflow: hidden;
}

/* ==============================================
==================Contact Section================
================================================= */
#contact-section {
  padding-top: 100px;
  padding-bottom: 55px;
  min-height: 100vh;
  max-height: max-content;
}

#contact-section .contact-container {
  color: var(--secondary) !important;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: start;
  flex-direction: column;
}

#contact-section .contact-container .contact-header h2 {
  border-bottom: 3px solid var(--placeholder-color);
  width: fit-content;
  font-size: 2.5rem !important;
}

#contact-section .contact-container .contact-details {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: start;
  flex-direction: column;
  margin-bottom: 20px;
}

#contact-section .contact-container .contact-details .my-name h5 {
  font-family: var(--font-name-family);
  font-size: 1.8rem;
}

#contact-section .contact-container .contact-details p {
  font-size: var(--font-medium-x-size);
}



/* ==============================================
================ Responsive Style ===============
================================================= */


@media (max-width: 767px) {
  html {

    font-size: 12px;
  }

  .home-page {
    padding: 0 30px;
  }

  .home-page .section-title h1 {
    padding-top: 0 !important;
    font-size: 28px !important;
    font-weight: 800;
    letter-spacing: 1px;
  }

  .title-with-line h2 {
    font-size: 17px !important;
  }

  #hero-section .my-name h1 {
    font-size: 40px !important;
  }

  #hero-section {
    padding-top: 30px;
  }

  .btn-download-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  #hero-section .my-name,
  #hero-section .my-prief {
    margin: 40px 0px;
  }

  #hero-section .my-links {
    justify-content: center;
    gap: 20px;
    margin: 40px 0px;
  }

  #about-section .section-title {
    padding-top: 0;
  }

  #about-section .hire-me {
    display: flex;
    justify-content: center !important;
  }

  #about-section .quiz-title h2 {

    font-size: 2rem !important;
  }

  #about-section .whyme-title {
    margin-top: 90px;
  }

  #skills-section .skills-tag .row {
    display: flex;
    justify-content: center;
  }

  #education-training-section .trainig-element {
    padding: 15px;
  }

  #education-training-section .certificate-image img {
    margin-bottom: 30px;
  }

  #education-training-section .company-logo {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  #education-training-section .company-logo img {
    border-radius: 10px;
    object-fit: fill;
  }
  #contact-section{
    padding-top: 0 !important;
  }
  #contact-section form,
  #contact-section col-lg-7 {
    padding: 0;
  }

  #contact-section .contact-container .contact-header h2 {
    font-size: 2rem !important;
  }

  #hero-section>div>div>div.col-lg-4.mt-3>div {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 428px) {
  .home-page .section-title h1 {
    font-size: 24px !important;
  }
}

@media (max-width: 390px) {
  .home-page #education-training-section .section-title h1 {
    font-size: 20px !important;
  }
}