:root {
    --font-name-family : 'Dancing Script',cursive ;
    --font-medium-xx-size : 1.25rem;
    --font-medium-x-size : 1.125rem;
    --font-medium-size : 1rem;
    --black: #0e0f13;
    --skills-gradient: #00000099;
    --input-form-color: #212529;
    --secondary: #343a40;
    --scrollbar-color: #424242;
    --main-shadow: #6c757d;
    --overview-layer: #7e7c7c81;
    --white: #f3f4f6;
    --placeholder-color: #8e98a1;
    --primary: #e1e1e1;
    --focus-color: #ced4da;
    --hover-color: #d1d1d1;
    --svg-color: #cfcfcfcc;
    --active-color: #bcbebf;
    --active-color-nav: #3b82f6;
    --active-color-hover-nav: #5ba8e8;
  }
  .dark-mode {
    --white: #0e0f13;
    --primary: #343a40;
    --placeholder-color: #495057;
    --focus-color: #424242;
    --hover-color: #495057;
    --black: #f3f4f6;
    --secondary: #d7d4d4;
    --input-form-color: #e1e1e1;
    --skills-gradient: #cfcfcf99;
    --scrollbar-color: #c2c9cf;
    --svg-color: #8e98a1;
    --active-color: #2c3237;
    --active-color-nav: #197de1;
    --active-color-hover-nav: #2b8ae8
  }

  body{
    background-color: var(--black);
  }
  .contact-form {
    background-color: var(--black);
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
   
}

  .contact-form h1{
    color: var(--white);
    font-size: 5rem;
    text-align: center;
    font-weight: 900;
  }
  .contact-form form{
    background-color: var(--black);
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    float: right;
    margin-right: 4rem;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
  }
  .contact-form input, textarea {
   background-color: var(--input-form-color);
   color: var(--placeholder-color);
   padding: 0 1rem;
   margin-bottom: 1rem;
   border: solid #0e0f13;
   border-radius: 0.5rem;
}

.contact-form button{
 background-color: var(--placeholder-color);
 
}