:root {
  --font-name-family: "Dancing Script", cursive;
  --font-title-section-size: 2.8125rem;
  --font-medium-xx-size: 1.25rem;
  --font-medium-x-size: 1.125rem;
  --font-medium-size: 1rem;
  --black: #0e0f13;
  --skills-gradient: #00000099;
  --input-form-color: #212529;
  --secondary: #343a40;
  --scrollbar-color: #424242;
  --main-shadow: #6c757d;
  --overview-layer: #7e7c7c81;
  --white: #f3f4f6;
  --placeholder-color: #8e98a1;
  --primary: #e1e1e1;
  --focus-color: #ced4da;
  --hover-color: #d1d1d1;
  --svg-color: #cfcfcfcc;
  --active-color: #bcbebf;
  --active-color-nav: #3b82f6;
  --active-color-hover-nav: #5ba8e8;
  --contact-color: #e1e1e1;
}

.dark-mode {
  --white: #0e0f13;
  --primary: #343a40;
  --placeholder-color: #495057;
  --focus-color: #424242;
  --hover-color: #495057;
  --black: #f3f4f6;
  --secondary: #d7d4d4;
  --input-form-color: #e1e1e1;
  --skills-gradient: #cfcfcf99;
  --scrollbar-color: #c2c9cf;
  --svg-color: #8e98a1;
  --active-color: #2c3237;
  --active-color-nav: #197de1;
  --active-color-hover-nav: #2b8ae8;
  --contact-color: #212529;
}

.contact-form-component form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 400px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  appearance: none;
  background-color: var(--white);
  background-clip: padding-box;
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  margin-bottom: 20px;
}

.contact-form-component form input {
  height: 40px;
  padding: 7px;
  border-radius: 5px;
  width: 100%;
  background-color: var(--contact-color);
  color: var(--black);
  border: none;
  outline: none;
}

.contact-form-component form textarea {
  padding: 7px;
  border-radius: 5px;
  width: 100%;
  background-color: var(--contact-color);
  color: var(--black);
  border: none;
  outline: none;
}

.contact-form-component form input::placeholder,
.contact-form-component form textarea::placeholder {
  font-size: 0.8rem;
  color: var(--black);
}

.contact-form-component form button {
  color: var(--white) !important;
  background-color: var(--black) !important;
  opacity: 0.5;
  height: 42px;
  border: 1px solid var(--secondary);
  transition: all .2s;
}

.contact-form-component form button[disabled] {
  background-color: #6c757d;
  cursor: not-allowed;
}

.error {
  color: #d8000c;
  background-color: #ffbaba;
  padding: 10px;
  border-radius: 4px;
  margin-top: -10px;
  margin-bottom: 10px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #d8000c;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error::before {
  content: "⚠️ ";
  margin-right: 5px;
}