:root {
    --font-name-family : 'Dancing Script',cursive ;
    --font-medium-xx-size : 1.25rem;
    --font-medium-x-size : 1.125rem;
    --font-medium-size : 1rem;
    --black: #0e0f13;
    --skills-gradient: #00000099;
    --input-form-color: #212529;
    --secondary: #343a40;
    --scrollbar-color: #424242;
    --main-shadow: #6c757d;
    --overview-layer: #7e7c7c81;
    --white: #f3f4f6;
    --placeholder-color: #8e98a1;
    --primary: #e1e1e1;
    --focus-color: #ced4da;
    --hover-color: #d1d1d1;
    --svg-color: #cfcfcfcc;
    --active-color: #bcbebf;
    --active-color-nav: #3b82f6;
    --active-color-hover-nav: #5ba8e8;
  }
  .dark-mode {
    --white: #0e0f13;
    --primary: #343a40;
    --placeholder-color: #495057;
    --focus-color: #424242;
    --hover-color: #495057;
    --black: #f3f4f6;
    --secondary: #d7d4d4;
    --input-form-color: #e1e1e1;
    --skills-gradient: #cfcfcf99;
    --scrollbar-color: #c2c9cf;
    --svg-color: #8e98a1;
    --active-color: #2c3237;
    --active-color-nav: #197de1;
    --active-color-hover-nav: #2b8ae8
  }
  #about-section .card-why{
    padding: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 400px;
    max-width: 370px;
    border-radius: 10px;
    background-color: var(--white);
    border: 1px solid var(--focus-color);
    color: var(--black);
  }
  #about-section .card-why:hover{
    transform: scale(1.1);
  }

  .card-why{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #about-section .card-why img{
    width: 200px;
    height: 200px;
    
  }
